<div class="hero container">
    <div class="jumbotron hero__title">
        <h1 class="display-3 text-container-specific">EmailGen</h1>
        <p class="lead">A webapp that can store your cheatsheets and generate emails!</p>
    </div>
    <div class="cube"></div>
    <div class="cube"></div>
    <div class="cube"></div>
    <div class="cube"></div>
    <div class="cube"></div>
    <div class="cube"></div>
    <div class="cube"></div>
    <div class="cube"></div>
    <div class="cube"></div>
    <div class="cube"></div>
    <div class="cube"></div>
    <div class="cube"></div>
    <div class="cube"></div>
    <div class="cube"></div>
    <div class="cube"></div>


</div>
